body {
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    margin: 1.5rem;
    border: 5px solid black;
    position: relative;
    cursor: pointer;
}

.btn:hover {
    transform: translateY(-6px);
}

.btn-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.red {
    background-color: #ff4d4d;
}

.green {
    background-color: #44d17a;
}

.yellow {
    background-color: #ffd84d;
}

.blue {
    background-color: #5aa6ff;
}

.flash {
    animation: flash 0.5s ease-in-out;
}

@keyframes flash {
    0% {
        background-color: white;
    }
    50% {
        background-color: white;
    }
    100% {
        background-color: white;
    }
}

.userflash {
    animation: userflash 0.5s ease-in-out;
}

@keyframes userflash {
    0% {
        background-color: greenyellow;
    }
    50% {
        background-color: greenyellow;
    }
    100% {
        background-color: greenyellow;
    }
}

ul {
    list-style-type: none;
    padding: 0;
}
